<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harita</title>
    <style>
        /* Google Map'in boyutları */
        #map {
            height: 500px;
            width: 60%;  /* Harita genişliği */
            float: left; /* Harita ve form yan yana */
        }

        .form-container {
            float: left; /* Formu harita ile yan yana yerleştiriyoruz */
            margin-left: 20px;
            width: 35%; /* Formun genişliği */
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <div class="form-container">
        <h2>Konum Bilgileri</h2>
        <p><strong>Başlangıç:</strong> Enlem: {{ baslangic_enlem }}, Boylam: {{ baslangic_boylam }}</p>
        <p><strong>Hedef:</strong> Enlem: {{ hedef_enlem }}, Boylam: {{ hedef_boylam }}</p>
    </div>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: {{ baslangic_enlem }}, lng: {{ baslangic_boylam }} },
                zoom: 12
            });

            // Başlangıç ve hedef işaretçileri ekliyoruz
            var marker = new google.maps.Marker({
                position: { lat: {{ baslangic_enlem }}, lng: {{ baslangic_boylam }} },
                map: map,
                title: "Başlangıç"
            });

            var hedef_marker = new google.maps.Marker({
                position: { lat: {{ hedef_enlem }}, lng: {{ hedef_boylam }} },
                map: map,
                title: "Hedef"
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>

</body>
</html>
